<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <title>部门查询</title>
  <link rel="stylesheet" href="../src/module/layui/css/layui.css">
  <link rel="stylesheet" href="../src/css/main.css">
</head>
<body class="layui-fluid">
 
<!-- header -->
    <div class="layui-header layui-row">
        <h1 class="text-center mg-tpye1">签到情况</h1>
        <hr class="center-line">
    </div>
<!-- header -->

<!-- fliter -->
    <div class="fliter layui-row"">
        <form class="layui-form" action="">
            <div class="layui-form-item">
                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="date"  autocomplete="off" placeholder="from date XXX to date XXX:" class="layui-input" disabled>
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="start-date" placeholder="起始日期" lay-key="1">   
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" class="layui-input" id="end-date" placeholder="结束日期" lay-key="2">     
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <select name="department" lay-verify="">
                            <option value="">部门</option>
                            <option value="010">人事司</option>
                            <option value="021">外事司</option>
                        </select>     
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline">
                        <input type="text" name="title" required  lay-verify="required" placeholder="请输入员工ID" autocomplete="off" class="layui-input">
                    </div>
                </div>

                <div class="layui-inline">
                    <div class="layui-input-inline tiny-input">
                        <select name="overtime1" lay-verify="">
                            <option value="0">加班时长</option>
                            <option value="1">迟到次数</option>
                        </select>
                    </div>
                    <div class="layui-input-inline smaller-input">
                        <select name="overtime2" lay-verify="">
                            <option value="0">></option>
                            <option value="1">=</option>
                            <option value="2"><</option>
                        </select>
                    </div>
                    <div class="layui-input-inline small-input">
                        <div class="layui-input-inline">
                            <input type="text" name="times" lay-verify="" autocomplete="off" placeholder="" class="layui-input small-input">
                        </div>
                    </div>
                </div>

                
                
            </div>
            
        </form>
    </div>  
<!-- fliter -->

<!-- chart-part -->
    <div class="show-part">
        <table id="department-chart" lay-filter="depart"></table>
    </div>
<!-- chart-part -->

<!-- nav -->
    <div class="nav-part">
        <a class="layui-btn layui-btn-radius layui-btn-primary" href="/">返回上一级</a>
        <a class="layui-btn layui-btn-radius layui-btn-primary" href="/">返回首页</a>
    </div>
<!-- nav -->
    

 

<!-- js -->
<script src="../src/module/layui/layui.js"></script>
<script src="../src/module/jquery/jquery-3.3.1.min.js"></script>
<script src="../src/js/main.js"></script>
<!-- js -->

</body>
</html>